<div class="container">
  <div class="jumbotron">
    <div class="container">
      <form>
        <div class="form-group">
          <label>Enter A github Username:</label>
          <input type="text" class="form-control" placeholder="Enter a github username ..." name="username"
                 [(ngModel)]="username" (keyup)="searchUser()">
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="user; else noUserMatch ">
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img class="img-fluid" src="{{user.avatar_url}}">
          </div>
          <div class="col-8">
            <div class="stats">
              <span class="badge badge-secondary">{{user.public_repos}} Public repos</span>
              <span class="badge badge-success">{{user.public_gists}} Public Gists</span>
              <span class="badge badge-danger">{{user.followers}} Followers</span>
              <span class="badge badge-primary">{{user.following}} Following</span>
            </div>
            <br>
            <ul class="list-group">
              <li class="list-group-item"><b>Username:</b> {{user.login}}</li>
              <li class="list-group-item"><b>Location:</b> {{user.location}}</li>
              <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
              <li class="list-group-item"><b>Blog:</b> {{user.blog}}</li>
              <li class="list-group-item"><b>Member Since:</b> {{user.created_at}}</li>
            </ul>
          </div>
        </div>
        <div class="card mt-4 container pt-3">
          <h2>{{user.name}}'s Repo List</h2>
          <div *ngFor="let repo of repos" class="card-body" style="border-bottom: 1px dotted;">
            <div class="row">
              <div class="col-lg-8">
                <h4><a target="_blank" href="{{repo.html_url}}">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
              </div>
              <div class="col-lg-4">
                <span class="badge badge-success">{{repo.watchers}} Watcher</span>
                <span class="badge badge-danger">{{repo.forks}} Public Gist</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<ng-template #noUserMatch>
  <div class="container">
    <div class="jumbotron container">
      <h3>Enter a Username.</h3>
    </div>
  </div>

</ng-template>
